.slick-arrow {
  filter: brightness(0.5);
}
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
}

@media screen and (max-width: 1024px) {
  .slick-next {
    right: -20px;
  }
  .slick-prev {
    left: -20px;
    z-index: 100;
  }
}

@media screen and (max-width: 500px) {
  .slick-next {
    right: 0px;
  }
  .slick-prev {
    left: 0px;
    z-index: 100;
  }
}
